## Test Report

The following images are the results of the automated testing performed for the `SafeStorage` desktop application.<br>
The testing is automated using Junit 5.7.0. and TestFX 4.0.16, all the tests are included in the repository in the [Test folder.](./src/Test/java/SafeStorage/)


#### EncryptionController class

![](./img/EncryptionControllerTest.png)

#### EncryptionEntry class

![](./img/EncryptedEntryTest.png)

#### EncryptionService class

![](./img/EncryptionServiceTest.png)

#### EncryptionUtil class

![](./img/EncryptionUtilTest.png)

#### FileManager class

![](./img/FileManagerTest.png)

#### MainView class

![](./img/MainViewTest.png)

#### SafeStorage class

![](./img/SafeStorageTest.png)